<form action="/store" method="post">

    Concepto de Zona
<input type="text" name="concepto_2" id="concepto_2"><br>
    Descripción
<input type="text" name="descripcion" id="descripcion"><br>  
  
<label for="activo">Estado</label>
<select name="activo" id="activo" required>
    <option value="">Seleccionar Estado</option>
    <option value="S">Activo</option>
    <option value="N">Deshabilitado</option>
</select><br>
    Linea
<select name="linea" id="activo" required>
    <option value="1">Linea 1</option>
    <option value="2">Linea 2</option>
    <option value="3">Linea 3</option>
</select><br>
    Coordinación
<select name="coordinacion" id="coordinacion" required>
    <option value="Canal Virtual">Canal Virtual</option>
    <option value="EDUCACIÓN">EDUCACIÓN</option>
    <option value="ESTADO 1">ESTADO 1</option>
    <option value="ESTADO 2">ESTADO 2</option>
    <option value="Gerencia - Iván Antequera">Gerencia</option>
    <option value="INDUSTRIA">INDUSTRIA</option>
    <option value="MOBILIARIO">MOBILIARIO</option>
    <option value="PROYECTOS">PROYECTOS</option>
</select><br>
    Cedula Coordinador
<input type="text" name="nit_cordinador" id="nit_cordinador"><br>
    Coordinador
<input type="text" name="cordinador" id="cordinador"><br>
    Correo Coordinador
<input type="email" name="correo_coord" id="correo_coord"><br>
    Celular Coordinador
<input type="number" name="cel_coord" id="cel_coord">  <br>
    Extensión Coordinador
<input type="text" name="ext_coord" id="ext_coord"><br>
    Cedul _ejecutivo
<input type="text" name="nit_ejecutivo" id="nit_ejecutivo"> <br>
    Ejecutivo
<input type="text" name="ejecutivo" id="ejecutivo"><br>
    Correo ejecutivo
<input type="text" name="correo_ejec" id="correo_ejec"><br>
    Celular Ejecutivo
<input type="number" name="cel_ejec" id="cel_ejct">    <br>
    Extensión 
<input type="text" name="ext_ejec" id="ext_ejec"><br>

<input type="submit" value="Agregar">

</form>